@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.section-container{
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #a9a9a9;
}

.left-container {
    font-size: 18px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.logo-icon{
    width: 30px;
    height: 30px;
    margin-left: 16px;
    margin-right: 12px;
}

.right-container {
    font-size: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.notification-icon{
    margin-left: 24px;
    margin-right: 24px;
    color: #696969;
    font-size: 20px;
}

.menu-icon {
    margin-right: 20px;
}

.mini-info-container {
    border-bottom: 1.5px solid #a9a9a9;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.gas-icon{
    margin-right: 4px;
    width: 14px;
    height: 14px;
}

.mini-info-container span {
    margin-right: 8px;
    font-size: 12px;
    color: #696969;
    line-height: 28px;
    font-weight: 500;
}

.mini-info-container :nth-child(6){
    margin-right: 0;
    align-items: center;
    display: flex;
}

.mini-info-container a{
    padding-left: 2px;
    padding-top: 2px;
    color: blue;
}

.videos-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    margin-left: 18px;
    margin-right: 20px;
}

.video{
    border-radius: 10px;
    margin-right: 24px;
}

